.header-top {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-top-2 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  list-style: none;
  background-color: #32373c;
}


.header-top h1 {
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin: 15px 10px 15px 0px;
  display: inline;
}

.header-top img{
  width: 40px;
  padding-left: 100px;
  margin: 7px 10px 5px 0;
}

.header-top-2 a img{

  width: 50px;
  padding-left: 90px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav .main-nav{
  background-color: #2383c6;
  display: flex;
  justify-content: space-around;
  gap: 60px;
  align-items: center;
}


.main-nav {
  list-style: none;
  font-weight: 600;
}

.main-nav li {
  position: relative;
  font-size: 22px; 
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav a {
  font-size: 22px; /* Font size */
  font-weight: bold; /* Font weight */
  color: #ffffff; /* Text color */
  text-decoration: none; /* Remove underline */
  display: block;
  text-align: center;
}


.dropdown {
  position: absolute;
  text-align: center;
  font-weight: 600;
  background: #2383c6;
  display: none;
  list-style: none;
}

.main-nav li:hover .dropdown {
  display: block;
}

.main-nav li a {
  display: block;
  padding: 15px 20px;
}

.main-nav li a:hover {
    color: #ffffff81; /* Text color on hover */
}

.dropdown a:hover {
  background-color: #1a69a1a2;
}


.main-nav-2 li {
  margin: 0;
  margin-left: 32px;
  font-size: 10; /* Font size */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; /* Font weight */
  color: #ffffff; /* Text color */
  text-decoration: none; /* Remove underline */
  display: block;
  text-align: center;
}

.main-nav-2 ul {
  display: flex;
  list-style: none;
  margin: 15px 1px 15px 1px;
}

.main-nav-2 a {
  margin: 1px 30px;
  font-size: 22px; /* Font size */
  font-weight: bold; /* Font weight */
  color: #ffffff; /* Text color */
  text-decoration: none; /* Remove underline */
  display: block;
}

.main-nav-2 a:hover {
    color: #ffffff9a; /* Text color on hover */
}

.secondary-nav {
  display: flex;
  gap: 15px;
  margin-left: 170px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.secondary-nav li {
  list-style: none;
}

.secondary-nav a {
  color: #ffffff; /* Text color */
  text-decoration: none; /* Remove underline */
}

.secondary-nav a:hover {
    color: #2383c6; /* Text color on hover */
}

.secondary-nav-2 a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.secondary-nav-2 {
  display: flex;
}

@media only screen and (max-width: 500px) {
  .main-nav ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .main-nav li {
    margin: 10px 0;
  }
    .header-top {
        margin-left: 15px;
    }
 
  .main-nav-2 li {
    margin: 10px 0;
    font-size: 2rem;
  }
  
  .header-top-2 a img{
    padding-left: 20px;
  }
  .secondary-nav {
    position: relative;
    font-size: x-small;
  }
}