.header-top {
  display: flex;
  align-items: center;
  list-style: none;
}

/* .header-top-2 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  list-style: none;
  background-color: #32373c;
} */


.header-top h1 {
  color: black;
  font-size: 20px;
  margin: 15px 10px 15px 0px;
  display: inline;
}

.header-top img{
  width: 60px;
  padding-left: 80px;
  margin: 7px 10px 5px 0;
}

.footer-logo img{
  width: 60px;
  padding-left: 45px;
  margin: 7px 10px 5px 0;
}

.header-top-2 a img{

  width: 50px;
  padding-left: 90px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav .main-nav{
  background-color: #2383c6;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  padding: 5px;
}

.main-nav-2{
  display: flex;
  justify-content: space-between;
}

.flex-ul {
  display: flex;
}

.main-nav {
  list-style: none;
}

.main-nav li {
  position: relative;
  /* font-size: 2px;  */
  font-family: Arial, Helvetica, sans-serif;
  gap: 10px;
  padding-left: 50px;
}
.main-nav .home {
  margin-left: 10px;
}

.dropdown .dropdown-li {
  padding: 0;
}

.main-nav a.active-about {
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 10px 15px;
}

.main-nav a.active-home {
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 10px 15px;
}

.main-nav a.active-contact {
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 10px 15px;
}

.main-nav a.active-reflection {
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 10px 15px;
}

.dropdown-2 .dropdown-2-li {
  padding: 0;
}

.main-nav-2 li {
  position: relative;
  font-size: 22px; 
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav a {
  font-size: 22px; /* Font size */
  font-weight: bold; /* Font weight */
  color: #ffffff; /* Text color */
  text-decoration: none; /* Remove underline */
  display: block;
  text-align: center;
}


.dropdown {
  position: absolute;
  text-align: center;
  font-weight: 600;
  background: #2383c6;
  display: none;
  list-style: none;
}

.dropdown--2 {
  position: absolute;
  text-align: center;
  font-weight: 600;
  background: #32373c;
  display: none;
  list-style: none;
}
.main-nav li:hover .dropdown {
  display: block;
}

.main-nav li a {
  display: block;
  text-align: left;
  padding: 15px 20px;
}

.main-nav-2 li a {
  display: block;
  text-align: left;
  justify-content: center;
  padding: 10px 5px;
}

.main-nav li a:hover {
    color: #ffffff81; 
    border-radius: 15px;
    position: relative;
}

.main-nav-2 li a:hover {
    color: #ffffff81; /* Text color on hover */
    border-radius: 15px;
    position: relative;
}

.dropdown a:hover {
  background-color: #1a69a1a2;
}

.dropdown-2 {
  position: absolute;
  text-align: center;
  font-weight: 600;
  background: #2383c6;
  display: none;
  list-style: none;
}

.dropdown-3 {
  position: absolute;
  text-align: center;
  font-weight: 600;
  background: #32373c;
  display: none;
  list-style: none;
}

.dropdown--2 li {
  width: 180px;
}

.main-nav-2 li:hover .dropdown--2 {
  display: block;
}

.main-nav-2 li:hover .dropdown-3 {
  display: block;
}

.main-nav-2 .dropdown--2 a:hover {
  background-color: #5d677252;
}

.main-nav-2 .dropdown-3 a:hover {
  background-color: #5d677252;
}
.dropdown-2 li {
  width: 180px;
}

.dropdown--2 li {
  width: 140px;
}

.dropdown-3 li {
  width: 180px;
}

.main-nav li:hover .dropdown-2 {
  display: block;
}

.dropdown-2 a:hover {
  background-color: #1a69a1a2;
}

.main-nav-2 ul {
  list-style: none;
}

.main-nav-2 a {
  margin: 3px;
  font-size: 22px; 
  font-weight: bold; 
  color: #ffffff; 
  text-decoration: none; 
  display: block;
}

.main-nav-2 a:hover {
    color: #ffffff9a; /* Text color on hover */
}

.secondary-nav {
  display: flex;
  gap: 15px;
  margin-left: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

nav a.split {
  float: right;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.secondary-nav li {
  list-style: none;
}

.secondary-nav a {
  color: #ffffff; /* Text color */
  text-decoration: none; /* Remove underline */
}

.secondary-nav a:hover {
    color: #2383c6; /* Text color on hover */
}

.secondary-nav-2 a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.secondary-nav-2 {
  display: flex;
}

.symbol {
  display: none;
}

.hamburger {
  display: none;
}

#menu-toggle:checked ~ .mobile-menu {
  display: block;
}

@media screen and (max-width: 768px) {
  
  nav .main-nav {
    flex-direction: column;
    align-items: center;
  }

  .header-top {
    margin: 0;
    padding: 0;
  } 

  .header-top img{
    justify-content: center;
    margin-left: 45px;
  }

  .main-nav a {
    justify-content: center;
  }

  .dropdown {
    display: none;
    position: static;
    border: 3px solid black;
    border-radius: 30px;
  }

  .dropdown-2 {
    display: none;
    position: static;
    border: 3px solid black;
    border-radius: 30px;
  }

  .main-nav li:hover .symbol {
  display: inline; 
}
nav {
    display: none;
  }

  .main-nav a {
    font-size: 20px;
  }
  .main-nav ul {
    align-items: center;
  }
  .main-nav li {
    margin: 10px 0;
  }
    .header-top {
        margin-left: 15px;
    }
 
  .hamburger {
  display: block;
  background-color: #2383c6;
  font-size: 30px;
  cursor: pointer;
  color: black;
  padding: 10px;
}
  #menu-toggle {
    display: none;
  }
}

