@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* General Styles
(colors, fonts, etc.) Primary color - #fff
Primary color - #2383c6
Secondary color - #32373c
Accent color - #cf2e2e*/

/* Header Styles */

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #000000; /* Transparent color */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

p {
  font-size: 26px;
}


html {
  font-family: 'EB Garamond', Garamond, serif;
}

.hero .info {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0;
} 

 .hero {
  width: 100%;
  height: 100vh;
  background: url(Logo_PhiloSe.jpg) no-repeat center center/cover;
  background-size: contain;
  background-position: 900px -110px;
} 


.info p{
  color: black;
  font-weight: bold;
  padding-left: 200px;
  padding-top: 125px;
  margin-bottom: 30px;
  font-size: 30px;
}

.hero .info button {
  background-color: #2383c6; /* Default background color */
  color: white; /* Default text color */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  position: relative;
  margin-left: 240px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.hero .info .join-button:hover {
  color: #ffffff7e; /* Text color on hover */
  background-color: #1c3168; /* Background color on hover */
}


.hero .info a:hover {
  color: #ffffff; /* Text color on hover */
  background-color: #2383c6; /* Background color on hover */
  text-decoration: underline;
}

.hero .info a{
  color: #592ecf; /* Link color */
  font-size: 24px; /* Font size */
  background-color: #bac0c7; /* Background color */
  border:  solid #2383c6; /* Border color */
  border-width: 3px; /* Border width */
  padding: 7px 50px; /* Padding around the link */
  border-radius: 20px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  margin-left: 40px;
  font-weight: bold;
  position: relative;
  left: 155px;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Print About Page */
@media print {
  header, .origin video, .vision-about img, .vision-about a, 
  nav, .site-logo, .footer-logo, .motto, .vision-list li, .line
  {
    display: none;
  }

  body {
    font-size: 16pt;
    line-height: 24pt;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
  }

  .origin h1 {
    font-size: 40pt;
    line-height: 30pt;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 40px;
    margin: 30px 40px 40px 1px !important;
    /* margin-left: 300px; */
  }
  .origin p {
    width: 0;
    margin-left: 0 !important;
    line-height: 40pt;
    font-size: 24pt;
  }
  
  .motto h2 {
    font-size: 30pt;
    text-align: center;
    color: #000000;
    border: none;
    background-color: none;
  }

  .vision-about p {
    font-size: 24pt;
    line-height: 30pt;
    padding: 50px 0 20px 5px !important;
  } 
  .about-list li {
    font-size: 24pt;
    color: #000000;
    border: none;
    background-color: transparent !important;
    list-style-type: none;
  }
  .about-list ul {
    margin-left: 0 !important;
    padding: 20px;
    gap: 20px;
    justify-content: center;
  }
  
  /* footer {
    background-color: transparent !important;
    margin-top: 150px !important;
  }

  footer h1 {
    color: #000000 !important;
    -webkit-text-stroke: none !important;
  } */
 

}

/* End of Hero */

/* About Section */
/* About List Styles */

.origin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "h1-origin h1-origin h1-origin h1-origin"
    "p-origin p-origin video video"
    /* "about-list about-list video video" */
}

.origin h1 {
  grid-area: h1-origin;
  text-decoration: underline;
  font-size: 36pt;
  justify-self: center;
  padding: 25px;
  /* margin-left: 550px; */
}

.origin p {
  grid-area: p-origin;
  margin-left: 125px;
  font-size: 24pt;
  line-height: 1.5;
  padding-right: 25px;
  margin-top: 15px;
  /* font-weight: bold; */
  color: black;
}
video {
  border: 4px solid #000000;
  grid-area: video;
  width: 650px;
  margin-right: 125px;
  margin-left: 20px;
  margin-top: -20px;
}

.about-list ul {
  list-style-type: none;
  gap: 150px;
  margin-left: 250px;
  padding-top: 10px;
  font-size: 30px;  
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.about-list li {
  font-weight: bold;
  background-color: #2383c6;
  border-radius: 10px; 
  border: 3px solid #000000;
  color: #ffffff;
  padding: 10px 20px;
}

.about-list li:hover {
  background-color: #ffffff; 
  color: #2383c6; 
  border: none; 
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}


/* Vision Section */

.vision-about {
  position: relative;
  width: 95%;
}

.vision-about p{
  font-size: 24pt;
  padding: 0px 20px 20px 125px;
  line-height: 2;
  margin-top: -15px;
  /* font-weight: bold; */
  color: black;
}
.vision-about img {
  border: 4px solid #000000; 
  float: left;
  width: 650px;
  margin-left: 125px;
  margin-right: 100px;
}

.vision-about a{
  color: #592ecf; 
  font-size: 20px; 
  background-color: #bac0c7; 
  border:  solid #2383c6; 
  border-width: 3px; 
  padding: 5px 40px; 
  border-radius: 20px; 
  text-decoration: none; 
  font-weight: bold;
  position: relative;
  left: 30px;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}
.vision-about a:hover {
  background-color: #2383c6; 
  color: white; 
  text-decoration: underline;
}
/* About Page PDF */
/* .vision-about a{
  color: #592ecf; 
  font-size: 20px; 
  background-color: #bac0c7; 
  border:  solid #2383c6; 
  border-width: 3px; 
  padding: 5px 40px; 
  border-radius: 20px; 
  text-decoration: none; 
  font-weight: bold;
  position: relative;
  top: 20px;
  left: 30px;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}
.vision-about a:hover {
  background-color: #2383c6; 
  color: white; 
  text-decoration: underline;
}

.vision-list {
  display: flex;
}
.vision-list ul{
  flex-direction: column;
  align-items: flex-start;
  font-size: 22px;
}

.vision-list li{
  border: 3px solid black;
  padding: 5px 10px;
  margin-bottom: 20px; 
}

.vision-list li:hover {
  color: #2383c6; 
  border-color: white; 
}

.origin h1 {
  text-decoration: underline;
  margin: 30px 40px 40px 600px;
}

.origin p {
  width: 900px;
  margin-left: 100px;
  margin-bottom: 20px;
  line-height: 30px;
} */

.line {
  border-bottom: 2px solid #2383c6;
  margin: 10px 0;
  opacity: 0.3;
  padding-top: 40px;
}

.motto h2{
  font-size: 26px;
  padding: 15px;
  margin: 100px 190px 0;
  border: #000000 solid 3px;
  border-radius: 25px;
  background-color: #2383c6;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
} 

.motto h2:hover {
  background-color: #ffffff; 
  color: #2383c6; 
  border: none; 
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}

/* Reflection */
.reflection {
  margin: 50px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

.reflection h1 {
  font-size: 36px;
  text-decoration: underline;
  display: inline-block;
  margin-left: 15px;
  padding: 10px;
  border: 5px solid transparent; 
  border-image: linear-gradient(to right, #8c52ff, #5ce1e6); 
  border-image-slice: 2; 
}

.reflection p {
  text-indent: 2em;
  text-align: justify;
  border: 1px solid #ccc; 
  padding: 20px; 
  padding-top: 5px;
  margin: 15px 10px 20px 0px; 
  background-color: #f9f9f9; 
  border-radius: 10px; 
}

.reflection p::first-letter {
  font-size: 200%;
  font-weight: bold;
}

/* About Section */

.vision-about p::first-letter {
  font-size: 200%;
  font-weight: bold;
}

.p-origin::first-letter {
  font-size: 200%;
  font-weight: bold;
}

footer h1 {
  /* display: flex; */
  color: white;
  -webkit-text-stroke: 1px black;
}

footer {
  color: white;
  display: flex;
}
footer .footer {
  margin: 10px;
  width: 90px;
  color: white;
}
/* footer a {
  color: white;
  font-size: 16pt;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
} */


/* Contact Form Section Styles */
.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 600px; /* Minimum width for responsiveness */
    margin: 0 20px; /* Spacing around the section */
}

.contact-section h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

/* Form Element Styles */


/* End of About Section */

/* Contact Page */

/* Contact Intro */
.contact-intro {
  display: flex; 
  justify-content: space-around; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.column {
  flex: 1; 
  min-width: 280px; 
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

.column h3 {
  margin-top: 0;
  color: #333;
}

.column p {
  line-height: 1.6;
  color: #666;
  flex-grow: 1; /* Allows the paragraph to take up available space */
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px; 
  align-self: center; 
}

.button:hover {
  background-color: #2383c6;
}

.contact-hero img {
  width: 100%;
  height: 700px;
  border: 3px solid #000000; 
  margin-top: 20px;
}

.contact-hero h1 {
  text-align: center;
  font-size: 40px;
  color: #000000;
  padding-top: 20px;
}

.contact-hero h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  color: #000000;
}

.contact-hero p {
  text-align: center;
  font-size: 24px;
  color: #333333;
  margin-top: 10px;
  text-decoration: underline;
}

/* span {
  color: red;
} */

/* Contact form */
.signup-form {
  width: 400px; /* Adjust width as needed */
  margin: 40px auto; /* Center the form */
  padding: 50px 150px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: #2383c6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #32373c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ffffff;
  color: #2383c6;
}

input[type=text], select, textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

label {
  font-weight: bold;
  color: #ffffff;
  font-size: 14pt;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
  .vision p{
    font-size: 14px;
  }

  .hero .info {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .hero .info p {
    font-size: 18px;
    padding: 0;
    margin: 20px 0;
  }
  .hero .info button {
    width: 40%;
    margin: 10px 0 10px 30px;
  }
  .hero .info a {
    padding: 10px 20px;
  }
  .hero {
    background-position: center center;
  }
} 

/* About Page */
@media screen and (max-width: 768px) {
  
  .origin {
    display: block;
  }

  .origin h1 {
    font-size: 28pt;
    margin-left: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  video {
    width: 500px;
    margin-left: 50px;
  }

  .origin p {
    font-size: 20pt;
    margin-left: 60px;
    padding-right: 50px;
    line-height: 1.8;
    width: 81%;
  }

  .about-list {
    display: flex;
    justify-content: center;

  }

  .about-list ul {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding-top: 50px;
    gap: 20px;
  }

  .about-list li {
    font-size: 20pt;
    padding: 10px 175px;
  }
  
  .vision-about img {
    width: 500px;
    margin-left: 50px;
    float: none;
  }

  .vision-about p {
    font-size: 20pt;
    padding-left: 60px;
    padding-top: 25px;
    line-height: 1.8;
  }

  .vision-about a {
    position: relative;
    left: 0;
    top: 0;
    margin-left: 320px;
  } 

  .motto h2 {
    font-size: 22px;
    margin: 50px 100px 0;
    padding: 10px;
  }

  .p-origin {
    font-size: 8pt;
    margin-top: 0;
  }

  h1 {
    font-size: 26pt;
    margin-left: 0;
    padding: 10px;
  }
  

  /* .vision-about p {
    padding: 10px;
    font-size: smaller;
  } */


}