@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* General Styles
(colors, fonts, etc.) Primary color - #fff
Primary color - #2383c6
Secondary color - #32373c
Accent color - #cf2e2e*/
 */
h1 {
  color: #000000; /* Transparent color */
  font-family: 'Garamond';
  font-size: 40px;
}

p {
  color: #32373c;
  font-size: 26px;
}

html {
  font-family: 'EB Garamond', Garamond, serif;
}

.hero .info {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url(Logo_PhiloSe.jpg) no-repeat center center/cover;
  background-size: contain;
  background-position: right;
  /*Text*/ /* For some reason when I remove the word "Text" the text position is off but when I add, it breaks the 
  the code becuase it's not an element */
  padding: 80px;
}

.info h1 {
  color: black;
  font-weight: bold;
  font-size: 22px;
  padding-left: 100px;
}

.info p{
  color: black;
  font-weight: bold;
  padding-left: 150px;
  margin-top: 150px;
  margin-bottom: 30px;
}

.hero .info button {
  background-color: #2383c6; /* Default background color */
  color: white; /* Default text color */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  margin-left: 190px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.hero .info .join-button:hover {
  color: #ffffff7e; /* Text color on hover */
  background-color: #1c3168; /* Background color on hover */
}

.hero .info .we-button {
  background-color: #8e9195; /* Default background color */
  color: white; /* Default text color */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  margin-left: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.hero .info .we-button:hover {
  color: #ffffff7e; /* Text color on hover */
  background-color: #32373c; /* Background color on hover */
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
} 
/* End of Hero */

/* Vision Section */
.vision p{
  margin-left: 500px;
}
.vision img {
  margin-right: 500px;
  border: solid #2383c6; /* Border color */
  padding: 20px; /* Padding around the image */
  position: relative;
  left: 150px;
  top: 120px
}
/* About Page PDF */
.vision a{
  color: #592ecf; /* Link color */
  font-size: 20px; /* Font size */
  background-color: #bac0c7; /* Background color */
  border:  solid #2383c6; /* Border color */
  border-width: 3px; /* Border width */
  padding: 5px 40px; /* Padding around the link */
  border-radius: 20px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  position: relative;
  left: 1200px;
  bottom: 20px;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}
.vision a:hover {
  background-color: #2383c6; /* Background color on hover */
  color: white; /* Text color on hover */
}