@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* General Styles
(colors, fonts, etc.) Primary color - #fff
Primary color - #2383c6
Secondary color - #32373c
Accent color - #cf2e2e*/

/* Header Styles */

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #000000; /* Transparent color */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

p {
  color: #32373c;
  font-size: 26px;
}


html {
  font-family: 'EB Garamond', Garamond, serif;
}

.hero .info {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0;
} 

 .hero {
  width: 100%;
  height: 100vh;
  background: url(Logo_PhiloSe.jpg) no-repeat center center/cover;
  background-size: contain;
  background-position: 900px -110px;
} 


.info p{
  color: black;
  font-weight: bold;
  padding-left: 200px;
  padding-top: 125px;
  margin-bottom: 30px;
  font-size: 30px;
}

.hero .info button {
  background-color: #2383c6; /* Default background color */
  color: white; /* Default text color */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  position: relative;
  margin-left: 240px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.hero .info .join-button:hover {
  color: #ffffff7e; /* Text color on hover */
  background-color: #1c3168; /* Background color on hover */
}

.hero .info .we-button {
  background-color: #8e9195; /* Default background color */
  color: white; /* Default text color */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  margin-left: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.hero .info .we-button:hover {
  color: #ffffff7e; /* Text color on hover */
  background-color: #32373c; /* Background color on hover */
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
  .vision p{
    font-size: 14px;
  }

  .hero .info {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .hero .info p {
    font-size: 18px;
    padding: 0;
    margin: 20px 0;
  }
  .hero .info button {
    width: 40%;
    margin: 10px 0 10px 30px;
  }
  .hero .info .we-button {
    padding: 10px 20px;
  }
  .hero {
    background-position: center center;
  }
} 
/* End of Hero */

.about-list ul {
  list-style-type: square; /* Change to circle, disc, etc. for different bullet styles */
  justify-content: space-between;
  font-size: 30px; /* Font size */
  color: #ffffff; /* Text color */
  display: flex;
}

.about-list li {
  font-weight: bold;
  position: relative;
  right: 10px;
  top: 10px;
  background-color: #2383c6;
  padding: 5px 15px; /* Padding around list items */
  border: 3px solid #000000; /* Border color */
  border-radius: 10px; /* Rounded corners */
}

.about-list li:hover {
  background-color: #ffffff; /* Background color on hover */
  color: #2383c6; /* Text color on hover */
  border: none; /* Border color on hover */
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}

/* Vision Section */
.vision p{
  margin-left: 500px;
}
.vision img {
  margin-right: 500px;
  border: solid #2383c6; /* Border color */
  padding: 20px; /* Padding around the image */
  position: relative;
  left: 150px;
  top: 120px
}
/* About Page PDF */
.vision a{
  color: #592ecf; /* Link color */
  font-size: 20px; /* Font size */
  background-color: #bac0c7; /* Background color */
  border:  solid #2383c6; /* Border color */
  border-width: 3px; /* Border width */
  padding: 5px 40px; /* Padding around the link */
  border-radius: 20px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  position: relative;
  left: 60rem;
  bottom: 20px;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}
.vision a:hover {
  background-color: #2383c6; /* Background color on hover */
  color: white; /* Text color on hover */
  text-decoration: underline;
}

.vision-list ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 22px;
  margin-bottom: 200px;
}

.vision-list li{
  border: 3px solid black;
  padding: 5px 10px /* Padding around list items */;
  margin-bottom: 20px; /* Space between list items */
}

.vision-list li:hover {
  color: #2383c6; /* Background color on hover */
  border-color: white; /* Text color on hover */
}

.motto h2{
  font-size: 26px;
  padding: 15px;
  margin: 20px 190px;
  border: #000000 solid 3px;
  border-radius: 25px;
  background-color: #2383c6;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
}

/* Reflection */
.reflection {
  margin: 50px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

.reflection h1 {
  font-size: 36px;
  text-decoration: underline;
  display: inline-block;
  margin-left: 40px;
  padding: 10px;
  border: 5px solid transparent; 
  border-image: linear-gradient(to right, #8c52ff, #5ce1e6); 
  border-image-slice: 2; 
}

.reflection p {
  text-indent: 2em;
  text-align: justify;
  border: 1px solid #ccc; 
  padding: 20px; 
  padding-top: 5px;
  margin: 15px 10px 20px 0px; 
  background-color: #f9f9f9; 
  border-radius: 10px; 
}

.reflection p::first-letter {
  font-size: 200%;
  font-weight: bold;
}