@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* General Styles
(colors, fonts, etc.) Primary color - #fff
Primary color - #2383c6
Secondary color - #32373c
Accent color - #cf2e2e*/

/* Header Styles */

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #000000; /* Transparent color */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

p {
  color: #32373c;
  font-size: 26px;
}


html {
  font-family: 'EB Garamond', Garamond, serif;
}

.hero .info {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0;
} 

 .hero {
  width: 100%;
  height: 100vh;
  background: url(Logo_PhiloSe.jpg) no-repeat center center/cover;
  background-size: contain;
  background-position: 900px -110px;
} 


.info p{
  color: black;
  font-weight: bold;
  padding-left: 200px;
  padding-top: 125px;
  margin-bottom: 30px;
  font-size: 30px;
}

.hero .info button {
  background-color: #2383c6; /* Default background color */
  color: white; /* Default text color */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  position: relative;
  margin-left: 240px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.hero .info .join-button:hover {
  color: #ffffff7e; /* Text color on hover */
  background-color: #1c3168; /* Background color on hover */
}


.hero .info a:hover {
  color: #ffffff; /* Text color on hover */
  background-color: #2383c6; /* Background color on hover */
  text-decoration: underline;
}

.hero .info a{
  color: #592ecf; /* Link color */
  font-size: 24px; /* Font size */
  background-color: #bac0c7; /* Background color */
  border:  solid #2383c6; /* Border color */
  border-width: 3px; /* Border width */
  padding: 7px 50px; /* Padding around the link */
  border-radius: 20px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  margin-left: 40px;
  font-weight: bold;
  position: relative;
  left: 155px;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }
  .vision p{
    font-size: 14px;
  }

  .hero .info {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .hero .info p {
    font-size: 18px;
    padding: 0;
    margin: 20px 0;
  }
  .hero .info button {
    width: 40%;
    margin: 10px 0 10px 30px;
  }
  .hero .info a {
    padding: 10px 20px;
  }
  .hero {
    background-position: center center;
  }
} 

/* Print About Page */
@media print {
  header, .origin video, .vision-about img, .vision-about a, 
  nav, .site-logo, .footer-logo, .motto, .vision-list li, .line
  {
    display: none;
  }

  body {
    font-size: 16pt;
    line-height: 24pt;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
  }

  .origin h1 {
    font-size: 40pt;
    line-height: 30pt;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 40px;
    margin: 30px 40px 40px 1px !important;
    /* margin-left: 300px; */
  }
  .origin p {
    width: 0;
    margin-left: 0 !important;
    line-height: 40pt;
    font-size: 24pt;
  }
  
  .motto h2 {
    font-size: 30pt;
    text-align: center;
    color: #000000;
    border: none;
    background-color: none;
  }

  .vision-about p {
    font-size: 24pt;
    line-height: 30pt;
    padding: 50px 0 20px 5px !important;
  } 
  .about-list li {
    font-size: 24pt;
    color: #000000;
    border: none;
    background-color: transparent !important;
    list-style-type: none;
  }
  .about-list ul {
    margin-left: 0 !important;
    padding: 20px;
    gap: 20px;
    justify-content: center;
  }
  
  footer {
    background-color: transparent !important;
    margin-top: 150px !important;
  }

  footer h1 {
    color: #000000 !important;
    -webkit-text-stroke: none !important;
  }
 

}

/* End of Hero */

.about-list ul {
  list-style-type: square; 
  /* justify-content: space-evenly; */
  gap: 50px;
  margin-left: 150px;
  font-size: 30px; 
  color: #ffffff; 
  display: flex;
}

video {
  border: 4px solid #000000; 
  float: right;
  width: 500px;
  margin-right: 100px;
  margin-left: 20px;
}

.about-list li {
  font-weight: bold;
  position: relative;
  right: 10px;
  top: 10px;
  background-color: #2383c6;
  padding: 5px 15px; /* Padding around list items */
  border: 3px solid #000000; /* Border color */
  border-radius: 10px; /* Rounded corners */
}

.about-list li:hover {
  background-color: #ffffff; /* Background color on hover */
  color: #2383c6; /* Text color on hover */
  border: none; /* Border color on hover */
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}

/* Vision Section */

.vision-about {
  position: relative;
  width: 95%;
}

.vision-about p{
   padding: 110px 0 20px 5px;
}
.vision-about img {
  border: 4px solid #000000; /* Border color */
  float: left;
  margin: 85px 70px 20px 100px;
  width: 500px;
}
/* About Page PDF */
.vision-about a{
  color: #592ecf; /* Link color */
  font-size: 20px; /* Font size */
  background-color: #bac0c7; /* Background color */
  border:  solid #2383c6; /* Border color */
  border-width: 3px; /* Border width */
  padding: 5px 40px; /* Padding around the link */
  border-radius: 20px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  position: relative;
  top: 20px;
  left: 30px;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}
.vision-about a:hover {
  background-color: #2383c6; /* Background color on hover */
  color: white; /* Text color on hover */
  text-decoration: underline;
}

.vision-list {
  display: flex;
}
.vision-list ul{
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  font-size: 22px;
  /* margin-bottom: 200px; */
}

.vision-list li{
  border: 3px solid black;
  padding: 5px 10px;
  margin-bottom: 20px; 
}

.vision-list li:hover {
  color: #2383c6; /* Background color on hover */
  border-color: white; /* Text color on hover */
}

.origin h1 {
  text-decoration: underline;
  margin: 30px 40px 40px 600px;
}

.origin p {
  width: 900px;
  margin-left: 100px;
  margin-bottom: 20px;
  line-height: 30px;
}

.line {
  border-bottom: 2px solid #2383c6;
  margin: 10px 0;
  opacity: 0.3;
}

.motto h2{
  font-size: 26px;
  padding: 15px;
  margin: 100px 190px 0;
  border: #000000 solid 3px;
  border-radius: 25px;
  background-color: #2383c6;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
}

/* Reflection */
.reflection {
  margin: 50px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

.reflection h1 {
  font-size: 36px;
  text-decoration: underline;
  display: inline-block;
  margin-left: 15px;
  padding: 10px;
  border: 5px solid transparent; 
  border-image: linear-gradient(to right, #8c52ff, #5ce1e6); 
  border-image-slice: 2; 
}

.reflection p {
  text-indent: 2em;
  text-align: justify;
  border: 1px solid #ccc; 
  padding: 20px; 
  padding-top: 5px;
  margin: 15px 10px 20px 0px; 
  background-color: #f9f9f9; 
  border-radius: 10px; 
}

.reflection p::first-letter {
  font-size: 200%;
  font-weight: bold;
}

/* About Section */

.vision-about p::first-letter {
  font-size: 200%;
  font-weight: bold;
}

footer h1 {
  display: flex;
  justify-content: center;
  color: white;
  -webkit-text-stroke: 1px black;
}

footer {
  background-color: #2383c6;
  color: white;
  text-align: center;
  padding: 1px 0;
  margin-top: 200px;
}
footer img {
  vertical-align: middle;
  margin-right: 5px;
  color: white;
}
footer a {
  color: white;
  font-size: 16pt;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}
/* End of About Section */